.section-about {
    background-color: $color-grey-light-1;
    padding : 25rem 0;
    margin-top : -20vh;
}




.section-features {
    padding : 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/nat-4.jpg");
    background-size: cover;
    transform : skewY(-7deg);
    margin-top : -10rem;
    
    
    & > * {
        transform: skewY(7deg);
    }
    
    /*
        > is the direct child selector. Selects all direct
childs. No indirect childs. Since we put *, all direct childs will be selected.
    */
}


.section-tours {
    background-color: $color-grey-light-1;
    padding : 25rem 0 15rem 0;
    margin-top: -10rem;
}



.section-stories {
    position: relative;
    padding: 15rem 0;
    /*
        No background color since it's background is a 
video. If we set a background color, then the video wont be shown due to the video's z-index.
    */
    
}



.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}



.book {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%),url("../img/nat-10.jpg");
    background-size: 100%;
    /*
        100% here means the same thing as cover.
        
        transparent is a valid CSS color. In the
background image, we have basically said that from 0% of the gradient to 50%, we want a white color with 0.9 opacity. After that, we want a transparent color. We have also defined an angle of the gradient.
    */
    height: 50rem;
    border-radius: 0.3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.20);
    
    
    
    &__form {
        width: 50%;
        padding: 6rem;
    }
}